/* === Google AI Studio === */
/* AI Studio */

.rtly-aistudio.rtly-with-font [style*="IranYekan"] ms-code-block, .rtly-aistudio.rtly-with-font [style*="IranYekan"] code, .rtly-aistudio.rtly-with-font [style*="IranYekan"] kbd, .rtly-aistudio.rtly-with-font [style*="IranYekan"] samp, .rtly-aistudio.rtly-with-font [style*="IranYekan"] pre, .rtly-aistudio.rtly-with-font [style*="IranYekan"] .inline-code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace, var(--rtly-font-family) !important;
}
.rtly-aistudio.rtly-with-rtl ms-code-block, .rtly-aistudio.rtly-with-rtl code, .rtly-aistudio.rtly-with-rtl kbd, .rtly-aistudio.rtly-with-rtl samp, .rtly-aistudio.rtly-with-rtl pre, .rtly-aistudio.rtly-with-rtl .inline-code {
  direction: ltr;
}

.rtly-aistudio .chat-turn-container table {
  text-align: center !important;
}

.rtly-aistudio.rtly-with-rtl .ms-text-chunk {
  direction: rtl;
}

.rtly-aistudio.rtly-with-rtl textarea.textarea.gmat-body-medium {
  text-align: right;
  direction: rtl;
}

.rtly-aistudio.rtly-with-rtl .chat-turn-container {
  direction: rtl !important;
}

/* Protect menus and navigation from direction changes - AI Studio */

/* End AI Studio */
