/* === Copilot === */
/* Copilot */

.rtly-copilot.rtly-with-rtl .font-mono {
  direction: ltr !important;
}
/* Direction will be set dynamically by JavaScript based on content analysis */
/* .rtly-copilot #userInput[dir="rtl"] {
  direction: rtl;
} */

/* Protect menus and navigation from direction changes - Copilot */

.rtly-copilot.rtly-with-rtl [data-content="user-message"] {
  direction: rtl !important;
}

.rtly-copilot.rtly-with-rtl div[data-content="ai-message"] {
  direction: rtl;
}
.rtly-copilot div[data-content="ai-message"] table td, .rtly-copilot div[data-content="ai-message"] table th {
  text-align: center;
}

.rtly-copilot.rtly-with-font [style*="IranYekan"] code, .rtly-copilot.rtly-with-font [style*="IranYekan"] kbd, .rtly-copilot.rtly-with-font [style*="IranYekan"] samp, .rtly-copilot.rtly-with-font [style*="IranYekan"] pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace, var(--rtly-font-family) !important;
}

/* End Copilot */
